####################################################
# Resolver's address for sending POST messages
# e.g. ResolverAddr = http://localhost:3333/
####################################################
ResolverRESTAddr = http://147.46.216.250:3333/


####################################################
# Resolver's SocketIO address for sending requests
####################################################
SocketIOAddr = http://143.248.53.143:25000/request


####################################################
# Interfaces specification (can be multiple)
# Bluetooth doesn't need to write an interface name.
#
# e.g. Interfaces = wifi/wlan0
#      Interfaces = lte/usb2
#      Interfaces = bluetooth/null
#      Interfaces = wired/eth0
####################################################
Interfaces = wifi/wlan8
Interfaces = bluetooth/null


####################################################
# Other settings
####################################################
DebugType = INFO
HelloPort = 30999